body {
    max-width: 600px;
    padding: 10px;
    margin: 0 auto;
    font-family: Arial,sans-serif;
    color: rgb(65, 97, 10);
    background-color: rgb(164, 229, 195);
    border:2px solid rgb(87, 183, 87);  
}

h1 {
    text-align: center;
}
  
  input:focus {
    outline: 0;
  }
  
  ::placeholder {
    color: #aaa;
  }
  
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus {
    -webkit-text-fill-color: #e39f48;
    -webkit-box-shadow: 0 0 0px 1000px #fff inset;
    transition: background-color 5000s ease-in-out 0s;
  }
  
  #payment-form {
    width: 316px;
    margin: 5px auto;
  }
  
  #payment-form label {
    display: block;
    margin: 0 0 4px 0;
    font-size: 11px;
    color: inherit;
    line-height: 1;
    height: auto;
  }
  
  #payment-form input,
  #payment-form .StripeElement {
    width: 100%;
    border-radius: 3px;
    border: 0.75px solid #aaa;
    padding: 0 10px;
    margin-bottom: 10px;
  }
  
  #payment-form input {
    line-height: 36px;
  }
  
  #payment-form .StripeElement--webkit-autofill {
    background: transparent !important;
  }
  
  #card-errors {
    margin: 4px 0;
    color: #c12843;
  }